.title {
    font-size: 5rem;
}

p {
    font-size: 1.3rem;
    margin-right: 5rem;
    text-align: justify;
}

.btn-color {
    color: white;
    background-color: #7965d1;
}

@media (max-width: 768px) {
    .info {
        padding: 0 5%;

        .title {
            font-size: 3rem;
        }

        p {
            margin-right: 0;
            font-size: 1rem;
        }
        .btn-color {
            font-size: 1.3rem;
        }
    }
}