<div class="container">
    <div class="row p-4">
        <div class="card p-3 mb-3" *ngFor="let project of projects">
            <div class="info">
                <h3><b>{{project.title}} - {{project.company}}</b></h3>
                <p>{{project.description}}</p>
                <ul class="mt-2 flex flex-wrap">
                    <li class="m-1" *ngFor="let skill of project.skills">
                        <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs text-teal-300 ">
                            {{skill.title}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>