.container{
    margin-top: 4rem;
}

.button-container {
    padding-top: 1rem;
}

button {
    font-size: 1.3rem;
    width: 100%;
    height: auto;
}

input, textarea{
    border: 1px solid black;
}

.btn-color{
    color: white;
    background-color: #7965d1;
}