.home-hero__socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    padding: 0.5rem;
    border-radius: 0 20px 20px 0;
}


.home-hero__socials {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    width: 6.5vw;
}
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}
div {
    display: block;
}

.home-hero__social-icon-link {
    width: 70%;
    display: block;
    margin: 40% 20%;
    transition: background .3s;
    border-radius: 5px;cursor: pointer;
}

.home-hero__social-icon{
    width: 100%;
    height: auto;
}

.home-hero__social-icon-link:hover {
    background-color: lightgray;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .home-hero__socials {
        width: 7.5vw;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .home-hero__socials {
        width: 5.7vw;
    }
}

@media (min-width: 1441px) {
    .home-hero__socials {
        width: 4.5vw;
    }
}
