<div class="home-hero__socials">
  <div class="home-hero__social">
    <a href="https://github.com/Jasonn5" class="home-hero__social-icon-link" target="_blank">
      <img src="../../../assets/img/social_media/GitHub.webp" class="home-hero__social-icon" alt="GitHub">
    </a>
  </div>
  <div class="home-hero__social">
    <a href="https://www.linkedin.com/in/jeyson-valdivia/" class="home-hero__social-icon-link" target="_blank">
      <img src="../../../assets/img/social_media/LinkedIn.webp" class="home-hero__social-icon" alt="LinkedIn">
    </a>
  </div>
  <div class="home-hero__social">
    <a href="mailto:jasson.n021@gmail.com" class="home-hero__social-icon-link" target="_blank">
      <img src="../../../assets/img/social_media/Gmail.webp" class="home-hero__social-icon" alt="Gmail">
    </a>
  </div>
  <div class="home-hero__social">
    <a href="https://www.instagram.com/jasson.n_n/" class="home-hero__social-icon-link" target="_blank">
      <img src="../../../assets/img/social_media/Instagram.webp" class="home-hero__social-icon" alt="Instagram">
    </a>
  </div>
</div>