img.card-image {
    width: auto;
    max-height: 2.5rem;
    object-fit: contain;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-dark {
    border-radius: 10px;
    background-color: #cdc2cd8f;
    height: 6rem;
    overflow: hidden;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: 0.5rem;
}

.row.text-center {
    flex: 4;
    max-height: 4rem;
}

.row.text-center h6 {
    flex: 1;
    overflow: hidden;
}
