@import "https://fonts.googleapis.com/css?family=Montserrat";
@import './variables.scss';

body {
    font-family: 'Montserrat';
    overflow: hidden;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
