.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-color-light-theme {
    --tw-text-opacity: 1;
    color: #ffffff;
}

.text-color-dark-theme {
    --tw-text-opacity: 1;
    color: rgb(94 234 212/var(--tw-text-opacity));
}


.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.text-backgorund-light-theme{
    background-color: #7e7e7e;
}

.text-backgorund-dark-theme{
    background-color: rgb(75, 55, 123);
}

.rounded-full {
    border-radius: 9999px;
}

.card-dark{
    border: 0.2rem solid #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #a46ca7,
              0 0 .2rem #a46ca7,
              0 0 0.5rem #bc13fe,
              0 0 0.3rem #bc13fe,
              0 0 0.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.card-light{
    border: 0.2rem solid #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #7e7e7e,
              0 0 .2rem #7e7e7e,
              0 0 0.5rem #7e7e7e,
              0 0 0.3rem #7e7e7e,
              0 0 0.8rem #7e7e7e,
              inset 0 0 1.3rem #7e7e7e;
}

.info{
    margin:  1.5rem 1.5rem 1rem 1.5rem;
}

p{
    text-align: justify;
}


.text {
    font-size: 1rem;
    line-height: 1rem;
}