.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-teal-300 {
    --tw-text-opacity: 1;
    color: rgb(94 234 212/var(--tw-text-opacity));
}

.text-xs {
    font-size: 1rem;
    line-height: 1rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.bg-teal-400\/10 {
    background-color: rgb(75, 55, 123);
}

.rounded-full {
    border-radius: 9999px;
}

.card{
    border: 0.2rem solid #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #a46ca7,
              0 0 .2rem #a46ca7,
              0 0 2rem #bc13fe,
              0 0 0.3rem #bc13fe,
              0 0 0.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.info{
    margin: 1.5rem;
}

p{
    text-align: justify;
}